.Category-title {
    color: white;
    font-weight: bold;
    margin-bottom: 0;
}

.Category-list {
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
}

.Category-link {
    color: white;
    font-size: .9em;
    padding: .5em;
    transition: color ease-in .1s;
    text-decoration: none;
}

.Category-link:hover {
    color: #8c55a2;
}

@media screen and (min-width: 670px) {
    .Category-list {
        display:inline;
        margin: 0;
    }

    .Category-list li::before {
        color: #8c55a2;
        /* content: ''; */
        margin-right: .5em;
        font-size: .9em;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}