  
  .ListOfGifs {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    gap: 0 12px;
    align-items: center;
    
  }
  @media screen and (max-width: 670px){
    .ListOfGifs{
      display: grid;
      min-height: 100vh;
      grid-template-columns: repeat(auto-fit, minmax(190px,1fr));
      gap: 0 10px;
      align-items: center;
    }
  }
  
