.App {
  text-align: center;
}
form{
  margin-bottom: 20px;
}
input{
  margin: 10px;
  height: 40px;
  border: 1px solid linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border-radius:6px;
  font-size: 25px;
  background-color: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  color: black;
  caret-color: rgb(0, 102, 255);
}

img{
  shape-outside: margin-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.boton {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display:inline-block;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 2.6em;
  max-width: 100%;
  min-width: 100px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.boton:active,
.boton:hover {
  outline: 0;
}

.boton span {
  background-color: rgb(5, 6, 45);
  padding: 13px 19px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.boton:hover span {
  background: none;
}


.App-link {
  color: #61dafb;
}

.logo{
  object-fit: contain;
  height: 250px;
  margin-bottom: 0px;
}


.App-results {
  /* flex-shrink: 2; */
  min-height: 100vh;
}

.App-category {
  margin-bottom: 25px;
  width: 100%;
}

@media screen and (min-width: 670px){
  .App-main{
    display: grid;
  grid-template-columns: 80% 20%;
  align-items: flex-start;
  }

  .App-category{
    padding: 10 .7em;
    position: sticky;
    top: 0;
    
  }
}